<div ng-controller="kairosdashboardController">
	<div class="Head">
		<div ng-show="dashboard.status == 'private'" ><i class="fa fa-lock pull-left HeadIcon changeColor"></i></div>
		<div ng-show="dashboard.status == 'public'" ><i class="fa fa-unlock-alt pull-left HeadIcon changeColor"></i></div>

		<input ng-show="!showBreadcrumbs" ng-disabled="!isEditable()" type="text" name="titleDashboard" ng-model="dashboard.title" class="pull-left DashTitle changeColor" placeholder="Untitled">
		<span ng-show="isEditable() && showBreadcrumbs" class="pull-left DashTitle" >
			<a href="" ng-click="goDashboard()" >
				<span ng-show="dashboard.title && dashboard.title != ''" >{{dashboard.title}}</span>
				<span ng-show="!dashboard.title || dashboard.title == ''" >Untitled</span>
			</a> <i class="fa fa-angle-right"></i> Edit Panel
		</span>
		<div ng-if="isEditable()" class="pull-right btn-group RadioActions">
			<label ng-class="{active: dashboard.status == 'private'}" class="btn btn-default">
				<input type="radio" ng-model="dashboard.status" value="private"> 
				Private
			</label>
			<label ng-class="{active: dashboard.status == 'public' }" class="btn btn-default">
				<input type="radio" ng-model="dashboard.status" value="public">
				Public
			</label>
	    </div>
	</div>

	<ul class="Panels" id="Panels">
		<li ng-repeat="panel in dashboard.panels|orderBy:'panelorder':false" ng-class="getPanelClass($index)" class="{{panel.panelclass}} panel changeColor" id="panel_{{$index}}">
			<panel panel="panel" editable="isEditable()" panelindex="$index" theme="dashboard.theme"></panel>
		</li>
	</ul>

	<div ng-if="isEditable()" class="Controls">
		<button ng-show="!showBreadcrumbs" ng-click="newPanel()" class="btn btn-default">Add Panel</button>
	</div>
</div>